<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <!--compatibilidade com dispositivos móveis-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--nome do author-->
    <meta name="author" content="Lucianamcustodio"/>
    <!--Descrição do site-->
    <meta name="description" content="design de car de produto com preço">
    <!--adicionando icone na aba-->
    <link rel="icon" type="image/png" sizes="32*32" href="../images/favicon-32x32.png">
    <!--Adicionando CSS-->
    <link rel="stylesheet" type="text/css" href="style.css" />
    <!--titulo da aba-->
    <title>Frontend Mentors | Product View Owners </title>
</head>
<body>
<!--Card Localizado no meio da tela-->
<main class="card">
       <!--Lado direito do card, que contem a imagem-->
          <img class="fotoprod" src="../images/image-product-desktop.jpg" alt="Imagem de um perfume Gabrielle da Chanel, localizado no centro da tela, entre duas folhas de palmeira">
    <!--Lado direito do card, que contem as informações de preço-->
    <div class="descrprod">
        <div class="containerfrases">
        <!--P para cada parágrafo o texto-->
        <p class=""> PERFUME </p>
        <!-- TÍTULO PRINICPAL DO PRODUTO -->
        <h1> Gabriele Essence Eau De Parfum</h1>
        <!--TEXTO DESCREVENDO O PRODUTO-->
        <p class="textoprod"> A floral, solar and voluptuous interpretation composed by Olivier Polge, Perfumer-Creator for the House of CHANEL.</p>
        <!-- Novo paragrafo com o preço novo e o preco antigo tachado-->
        <p class="preço-atual"> 149,99 <s class= "preço-antigo"> 169,99</s> </p>
        <!--Botão com carrinho e legenda "add to cart"-->
        <p><button type="button" autofocus > <img class="carrinho" src="../images/icon-cart.svg"> Add to cart </button></p>
        </div>
    </div>
</main>
</body>
</html>

